<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
            android:name="io.opentelemetry.example.kotlin.MainApplication"
            android:label="OtelKotlinApp">
        <activity
                android:name="io.opentelemetry.example.kotlin.MainActivity"
                android:exported="true"
                android:label="OtelKotlinExample">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
