name: CI

on:
  push:
    branches: [ main ]
  pull_request:
  release:
    types: [ released ]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  gradle-test:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - name: Checkout Branch
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'adopt'
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Gradle Build
        run: ./gradlew assembleRelease check koverXmlReport --stacktrace

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: open-telemetry/opentelemetry-kotlin
          fail_ci_if_error: false
          files: build/reports/kover/reportRelease.xml

      - name: Build Example Apps
        run: ./gradlew :examples:jvm-app:run :examples:android-app:assembleRelease :examples:js-app:jsNodeDevelopmentRun --stacktrace
      - name: Build Telescope App
        run: ./gradlew pTML && cd examples/telescope-app && ./gradlew assembleRelease --stacktrace
