name: Prepare release branch
on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  prereqs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Verify prerequisites
        run: .github/scripts/check-prepare-release-prereqs.sh

  create-pull-request-against-release-branch:
    permissions:
      contents: write  # for Git to git push
    runs-on: ubuntu-latest
    needs:
      - prereqs
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set environment variables
        run: .github/scripts/set-prepare-release-env-vars.sh release-branch

      - name: Create release branch
        run: git push origin HEAD:"$RELEASE_BRANCH_NAME"

      - name: Update version
        run: .github/scripts/update-version.sh

      - name: Update version in README
        run: .github/scripts/update-readme-version.sh

      - name: Update the change log with the approximate release date
        env:
          MODE: release-branch
        run: .github/scripts/update-changelog.sh

      - name: Use CLA approved github bot
        run: .github/scripts/use-cla-approved-github-bot.sh

      - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: otelbot-token
        with:
          app-id: ${{ vars.OTELBOT_APP_ID }}
          private-key: ${{ secrets.OTELBOT_PRIVATE_KEY }}

      - name: Create pull request against the release branch
        env:
          # not using secrets.GITHUB_TOKEN since pull requests from that token do not run workflows
          GH_TOKEN: ${{ steps.otelbot-token.outputs.token }}
          MODE: release-branch
        run: .github/scripts/create-pull-request.sh

  create-pull-request-against-main:
    permissions:
      contents: write  # for Git to git push
    runs-on: ubuntu-latest
    needs:
      - prereqs
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set environment variables
        run: .github/scripts/set-prepare-release-env-vars.sh main

      - name: Update version
        run: VERSION="$NEXT_VERSION" .github/scripts/update-version.sh

      - name: Update version in README
        run: .github/scripts/update-readme-version.sh

      - name: Update the change log on main
        env:
          MODE: main
        run: .github/scripts/update-changelog.sh

      - name: Use CLA approved github bot
        run: .github/scripts/use-cla-approved-github-bot.sh

      - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: otelbot-token
        with:
          app-id: ${{ vars.OTELBOT_APP_ID }}
          private-key: ${{ secrets.OTELBOT_PRIVATE_KEY }}

      - name: Create pull request against main
        env:
          # not using secrets.GITHUB_TOKEN since pull requests from that token do not run workflows
          GH_TOKEN: ${{ steps.otelbot-token.outputs.token }}
          MODE: main
        run: .github/scripts/create-pull-request.sh
